// **************** global variables ****************
$white: #d9d7e9;
$black: #2a272a;
$whats_app: #25D366;
$face_book: #129af6;
$git_hub: darken($black, 70%);
// **************** mainPage ****************
$main_color: #8e3bc2;
$secondary_color: #7c13bf;

// **************** first product ****************
$main_color_product1: #ff9700;
$secondary_color_product1: #ff9e54;

// ****************  second product  ****************
$main_color_product2: #075a99;
$secondary_color_product2: #05487b;

// ****************  thred product  ****************
$main_color_product3: #ec146b;
$secondary_color_product3: #c0004e;
